@import 'template-parts/reset';
@mixin font($fname, $fstyle, $fweight, $furl) {
    @font-face {
        font-family: $fname;
        font-style: $fstyle;
        font-weight: $fweight;
        font-display: swap; // Uncomment to initially display system fonts
        src: local($fname), url($furl) format('woff2');
    }
}

@include font('SF Pro Display', normal, 400, '../fonts/SFProDisplay-Regular.woff2');
@include font('SF Pro Display', normal, 500, '../fonts/SFProDisplay-Medium.woff2');
@include font('SF Pro Display', bold, 700, '../fonts/SFProDisplay-Bold.woff2');