.header__top-bar {
  background: #F9F9FB;
}

.header__top-bar .top-mnu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px 0;
  border-bottom: 1px solid #E7E7E9;
}

.header__top-bar .top-mnu li {
  margin-right: 60px;
}

.header__top-bar .top-mnu li:last-child {
  margin-right: 0;
}

.header__top-bar .top-mnu li img {
  margin-right: 8px;
  width: 12px;
  height: 12px;
}

.header__top-bar .top-mnu li a {
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  color: #0D0B22;
}

.search-form {
  position: relative;
  width: 100%;
}

.search-form .form__search-inp {
  width: 100%;
  height: 46px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-indent: 20px;
  color: #0D0B22;
  background: #F9F9FB;
  border: 1px solid #E7E7E9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  outline: none;
}

.search-form .search-icon-btn {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  left: auto;
  border: none;
  background: transparent;
  width: 12px;
  height: 46px;
  width: 46px;
  background-image: url(/img/svg/search-i.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.cart__icons-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__icons-wrap ul li a img {
  max-width: 14px;
  height: 14px;
}

.cart__icons-wrap ul li.fav-product {
  position: relative;
}

.cart__icons-wrap ul li.fav-product .count {
  position: absolute;
  top: -3px;
  right: -8px;
  width: 15px;
  height: 15px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: #FE2626;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 23px 25px 25px;
}

.header__main .logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main .logo-wrap a {
  display: block;
}

.header__main .logo-wrap img {
  max-width: 96px;
}

.header__main .search-form {
  max-width: 418px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__main .search-form .search-wrap {
  width: 100%;
  position: relative;
}

.header__main .cart-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__main .cart-wrap .cart__icons-wrap {
  margin-right: 21px;
}

.header__main .cart-wrap .cart__icons-wrap li {
  margin-right: 15px;
}

.header__main .cart-wrap .cart__icons-wrap li:last-child {
  margin-right: 0;
}

.hamburger-mnu {
  width: 18px;
  height: 15px;
  cursor: pointer;
}

.hamburger-mnu span {
  display: block;
  background: #0D0B22;
  border-radius: 2px;
  width: 18px;
  height: 2px;
  margin-bottom: 4px;
}

.mobile__header {
  display: none;
  padding: 20px 0;
}

.mobile__header .hamburger-mnu {
  margin-right: 15px;
}

.mobile__header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.mobile__header .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__header .logo {
  display: block;
  max-width: 78px;
}

.mobile__header .cart__icons-wrap li {
  margin-right: 15px;
}

.mobile__header .cart__icons-wrap li:last-child {
  margin: 0;
}

.mobile__header .cart__icons-wrap img {
  height: 14px;
}

@media screen and (max-width: 991px) {
  .desktop__header {
    display: none;
  }
  .mobile__header {
    display: block;
  }
}
/*# sourceMappingURL=header.css.map */